<robot name="simple_mug">
  <link name="mug_body">
    <visual>
      <geometry>
        <mesh filename="package://genesis_analogies/meshes/mug.stl" scale="0.0008 0.0008 0.0008"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://genesis_analogies/meshes/mug.stl" scale="0.0008 0.0008 0.0008"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="0.001" ixy="0.0" ixz="0.0"
        iyy="0.001" iyz="0.0"
        izz="0.001"/>
    </inertial>
  </link>
</robot>
